

@{
    ViewData["Title"] = "Hem";
}

@if (User.Identity.IsAuthenticated) {
    <div class="container">
        <h1 title="Manage" class="text-center">Hej, @User.Identity?.Name!</h1> <br>

        <div class="row">


          
            <div class="column">
                <a asp-area="" asp-controller="Message" asp-action="Index" class="card-link">
                    <div class="card">
                        <h2>Meddelanden</h2>
                        <img src="/email.png" alt="Bildbeskrivning">
                    </div>
                </a>
            </div>

            <div class="column">
                <a asp-area="" asp-controller="News" asp-action="Index" class="card-link">
                    <div class="card">
                        <h2>Nyheter</h2>
                        <img src="/newspaper.png" alt="Bildbeskrivning">
                    </div>
                </a>
            </div>

            <div class="column">
                <a asp-area="" asp-controller="Comment" asp-action="Index" class="card-link">
                    <div class="card">
                        <h2>Kommentarer</h2>
                        <img src="/comment.png" alt="Bildbeskrivning">
                    </div>
                </a>
            </div>

            <div class="column">
                <a href="https://cmswebbplats.vercel.app/" target="_blank" class="card-link">
                    <div class="card">
                        <h2>Till min webbplats</h2>
                        <img src="/web-development.png" alt="Bildbeskrivning">
                    </div>
                </a>
            </div>
        </div>
        <br>
    </div>
} else {
    <div class="custom-card">
        <p>Du måste vara inloggad för att visa detta innehåll. Vänligen logga in för att fortsätta.</p>
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success">
            <i class="fa fa-sign-in" aria-hidden="true"></i>Logga in
        </a>
    </div>
}

<style>
    .custom-card {
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #EAF2FA;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;

    }

    .card {
         position: relative;
         z-index: -1; 
    }  


  .card img {
    margin: auto; /* Centrera img-taggen horisontellt */
    display: block;  /*För att ta bort eventuellt överflödigt utrymme runt bilden */
    width:18%;
    
  }

  a {
    color: black;
  }

  h2 {
    font-size: 20px;
  }



    
</style>
