@model cmsSystem.Models.Footer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Footer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FooterColor" class="control-label"></label>
                <input asp-for="FooterColor" class="form-control" />
                <span asp-validation-for="FooterColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FontColor" class="control-label"></label>
                <input asp-for="FontColor" class="form-control" />
                <span asp-validation-for="FontColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterAdress" class="control-label"></label>
                <input asp-for="FooterAdress" class="form-control" />
                <span asp-validation-for="FooterAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterPhone" class="control-label"></label>
                <input asp-for="FooterPhone" class="form-control" />
                <span asp-validation-for="FooterPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FooterEmail" class="control-label"></label>
                <input asp-for="FooterEmail" class="form-control" />
                <span asp-validation-for="FooterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
