@model cmsSystem.Models.About

@{
    ViewData["Title"] = "Create";
}

<h1>Skapa innehåll</h1>

<h4>Om-Oss sidan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AboutTitle" class="control-label"></label>
                <input asp-for="AboutTitle" class="form-control" />
                <span asp-validation-for="AboutTitle" class="text-danger"></span>
            </div><br>
              <div class="form-outline mb-4">
      <label class="form-label" asp-for="AboutText"></label>
      <div>
        <textarea asp-for="AboutText" class="form-control"></textarea>
        <span asp-validation-for="AboutText" class="text-danger"></span>
      </div>
  </div>
                        <div class="form-group">
                <label asp-for="AboutFile"class="control-label"></label>
                <input asp-for="AboutFile" accept="image/*" class="form-control" />
                <span asp-validation-for="AboutFile" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Lägg till" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script>
           tinymce.init({
            forced_root_block: false,
               selector: 'textarea#AboutText',
               entity_encoding : "raw"
               
           });
       </script>




}
