@model cmsSystem.Models.Staff

@{
    ViewData["Title"] = "Redigera innheåll | Personal ";
}

<h1>Redigera</h1>

<h4>Medarbetare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div><br>
                        <div class="form-group">
                <label asp-for="ImageName"></label><br>
                 <img decoding="async" src="@("~/imageupload/"+Model.ImageName)" alt="uppladdad bild" asp-append-version="true" width="200" height="200"/><br><br>
                <input asp-for="ImageName" accept="image/*" class="form-control" /> 
                <span asp-validation-for="ImageName" class="text-danger"></span> 
            </div><br>            <div class="form-group">
                <label asp-for="AltText" class="control-label"></label>
                <input asp-for="AltText" class="form-control" />
                <span asp-validation-for="AltText" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <label asp-for="ImageFile"class="control-label">Lägg till ny bild:</label>
                <input asp-for="ImageFile" accept="image/*" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <br>

            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
